Package: clipboard-history
Version: 1.4.5
Section: utils
Priority: optional
Architecture: amd64
Maintainer: gylangsatria
Depends: libgtk-3-0, libgranite6, libgee-0.8-2, libjson-glib-1.0-0
Description: clipboard history for elementary OS
 A lightweight clipboard manager with history feature for elementary OS.
 Automatically stores copied text and allows quick search, reuse, and
 management of clipboard items.
