Package: clipboard-history
Version: 1.2.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: gylangsatria
Depends: libgtk-3-0, libgranite6, libgee-0.8-2
Description: clipboard history for elementary os
 A clipboard manager with history feature for elementary OS.
