[Desktop Entry]
Name=ClipStory
Comment=Start ClipStory at login
Exec=com.github.gylangsatria.clipboard-history
Icon=com.github.gylangsatria.clipboard-history
Terminal=false
Type=Application
Categories=Utility;GTK;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
