[Desktop Entry]
Name=Clipboard History
Comment=Clipboard history for ElementaryOS
Exec=clipboard-history
Icon=clipboard-history
Terminal=false
Type=Application
Categories=Utility;GTK;X-GNOME-Utilities;