[Desktop Entry]
Name=Clipboard History
Comment=Start clipboard history manager at login
Exec=clipboard-history
Icon=clipboard-history
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
